<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Archer Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0EDE1C61D233F49008B5371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0EDE1DE1D233F4A008B5371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0EDE1E91D233F4A008B5371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
